# Chicago Crime

In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [4]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# Chicago_Crimes_2001_to_2004.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('/Users/nirmitipatil/Desktop/Hello/NEU/Spring 23/Big data/Big Data Project/Chicago_Crimes_2001_to_2004.csv', on_bad_lines='skip')#''', delimiter=',', nrows = nRowsRead'''
df2 = pd.read_csv('/Users/nirmitipatil/Desktop/Hello/NEU/Spring 23/Big data/Big Data Project/Chicago_Crimes_2005_to_2007.csv', on_bad_lines='skip') #delimiter=',', nrows = nRowsRead)
df3 = pd.read_csv('/Users/nirmitipatil/Desktop/Hello/NEU/Spring 23/Big data/Big Data Project/Chicago_Crimes_2008_to_2011.csv', on_bad_lines='skip') #delimiter=',', nrows = nRowsRead)
df4 = pd.read_csv('/Users/nirmitipatil/Desktop/Hello/NEU/Spring 23/Big data/Big Data Project/Chicago_Crimes_2012_to_2017.csv', on_bad_lines='skip') #delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'Chicago_Crimes_2001_to_2004.csv'
df2.dataframeName = 'Chicago_Crimes_2005_to_2007.csv'
df3.dataframeName = 'Chicago_Crimes_2008_to_20011.csv'
df4.dataframeName = 'Chicago_Crimes_2012_to_2017.csv'
df = pd.concat([df1, df2, df3,df4], ignore_index=False, axis=0)
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

/Users/nirmitipatil/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

There are 7941282 rows and 23 columns

In [5]:
df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Year,Longitude
count,7.941282e+06,7.941282e+06,7.941282e+06,7.941191e+06,7.241058e+06,7.239191e+06,7.835709e+06,7.941282e+06,7.835708e+06
mean,2.673858e+06,5.926071e+06,1.197659e+03,1.131215e+01,2.262089e+01,3.774790e+01,1.164455e+06,2.007672e+03,-8.767203e+01
std,1.816327e+06,2.568290e+06,7.041944e+02,6.944523e+00,1.378632e+01,2.156597e+01,1.751911e+04,4.123451e+00,6.328715e-02
min,0.000000e+00,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,4.178983e+01,-9.168657e+01
25%,1.160283e+06,3.853209e+06,6.230000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152887e+06,2.005000e+03,-8.771401e+01
50%,2.282372e+06,6.165079e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165910e+06,2.008000e+03,-8.766643e+01
75%,4.185491e+06,7.716590e+06,1.732000e+03,1.700000e+01,3.400000e+01,5.800000e+01,1.176336e+06,2.010000e+03,-8.762856e+01
max,6.254267e+06,1.082788e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,2.017000e+03,-8.752453e+01

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7941282 entries, 0 to 1456713
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          object
 18  Year                  float64
 19  Updated On            object
 20  Latitude              object
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(6), int64(3), object(12)
memory usage: 1.3+ GB

In [7]:
# check for null values and drop 
df.isna().sum()

Unnamed: 0                   0
ID                           0
Case Number                  7
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      1990
Arrest                       0
Domestic                     0
Beat                         0
District                    91
Ward                    700224
Community Area          702091
FBI Code                     0
X Coordinate            105573
Y Coordinate            105573
Year                         0
Updated On                   0
Latitude                105573
Longitude               105574
Location                105574
dtype: int64

In [8]:
#Dropping Duplicates
df.drop_duplicates()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1876757.0,2003.0,04/15/2016 08:55:02 AM,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1831051.0,2003.0,04/15/2016 08:55:02 AM,41.691785,-87.635116,"(41.691784636, -87.635115968)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,28.0,30.0,08B,1159105.0,1888300.0,2016.0,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,...,17.0,69.0,14,1175230.0,1856183.0,2016.0,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,...,15.0,66.0,04B,1161027.0,1862810.0,2016.0,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,7.0,46.0,08B,1197261.0,1850727.0,2016.0,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,...,6.0,69.0,26,1178696.0,1855324.0,2016.0,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

In [9]:
#Dropping Unrelevant columns
df = df.drop('X Coordinate', axis=1)
df = df.drop('Y Coordinate', axis=1)
df = df.drop('Updated On', axis=1)

In [10]:
# Splitting Block column by House no, Street  and Unit to extract just the street name from the column
df['house no.'] = df.Block.apply(lambda x: x.split(' ')[0])
df['xyz'] = df.Block.apply(lambda x: x.split(' ')[1])
df['street'] = df.Block.apply(lambda x: x.split(' ')[2])
df['street end'] = df['Block'].str.extract(r'(\w+)$')
df["Address block"] = df['street'].astype(str) +" "+ df["street end"]
 
#Drooping out other parameters apart from street name
df = df.drop('xyz',axis = 1)
df = df.drop('street',axis = 1)
df = df.drop('street end',axis = 1)
df = df.drop('house no.',axis = 1)
df = df.drop('Block',axis = 1)

#Remaining extracted Street name by Block
df=df.rename(columns={'Address block':'Block'})

In [25]:
# create a new column 'UniqueID' and assign a unique ID to each (Latitude, Longitude) pair
df3['UniqueID'] = df3['Location'].apply(lambda x: hash(x))

# print the dataframe to verify the results
df3.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Location,UniqueID
0,388,4785,HP610824,10/07/2008 12:39:00 PM,000XX E 75TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,...,3.0,6.0,69.0,01A,1178207.0,1855308.0,2008,08/17/2015 03:03:40 PM,"(41.758275857, -87.622451031)",386106639535259970
1,835,4786,HP616595,10/09/2008 03:30:00 AM,048XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,15.0,24.0,25.0,01A,1144200.0,1895857.0,2008,08/17/2015 03:03:40 PM,"(41.87025207, -87.746069362)",-623691163198600792
2,1334,4787,HP616904,10/09/2008 08:35:00 AM,030XX W MANN DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,False,...,8.0,18.0,66.0,01A,1157314.0,1859778.0,2008,08/17/2015 03:03:40 PM,"(41.770990476, -87.698901469)",-4740121907779104319
3,1907,4788,HP618616,10/10/2008 02:33:00 AM,052XX W CHICAGO AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RESTAURANT,False,...,15.0,37.0,25.0,01A,1141065.0,1904824.0,2008,08/17/2015 03:03:40 PM,"(41.894916924, -87.757358147)",7580557972628098219
4,2436,4789,HP619020,10/10/2008 12:50:00 PM,026XX S HOMAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,...,10.0,22.0,30.0,01A,1154123.0,1886297.0,2008,08/17/2015 03:03:40 PM,"(41.843826272, -87.709893465)",7798137727751833469

In [31]:
#Saving the cleaned CSV file
df3.to_csv('/Users/nirmitipatil/Desktop/Hello/NEU/Spring 23/Big data/Big Data Project/FinalDataSet_Chicago.csv', index=False)

In [34]:
df3.head(5)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Location,UniqueID
0,388,4785,HP610824,10/07/2008 12:39:00 PM,000XX E 75TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,...,3.0,6.0,69.0,01A,1178207.0,1855308.0,2008,08/17/2015 03:03:40 PM,"(41.758275857, -87.622451031)",386106639535259970
1,835,4786,HP616595,10/09/2008 03:30:00 AM,048XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,15.0,24.0,25.0,01A,1144200.0,1895857.0,2008,08/17/2015 03:03:40 PM,"(41.87025207, -87.746069362)",-623691163198600792
2,1334,4787,HP616904,10/09/2008 08:35:00 AM,030XX W MANN DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,False,...,8.0,18.0,66.0,01A,1157314.0,1859778.0,2008,08/17/2015 03:03:40 PM,"(41.770990476, -87.698901469)",-4740121907779104319
3,1907,4788,HP618616,10/10/2008 02:33:00 AM,052XX W CHICAGO AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RESTAURANT,False,...,15.0,37.0,25.0,01A,1141065.0,1904824.0,2008,08/17/2015 03:03:40 PM,"(41.894916924, -87.757358147)",7580557972628098219
4,2436,4789,HP619020,10/10/2008 12:50:00 PM,026XX S HOMAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,...,10.0,22.0,30.0,01A,1154123.0,1886297.0,2008,08/17/2015 03:03:40 PM,"(41.843826272, -87.709893465)",7798137727751833469

In [35]:
#Running Python Profiling

In [36]:
import pandas as pd
import pandas_profiling

# load the dataframe
df = pd.read_csv('FinalDataSet_Chicago.csv')

# run data profiling
profile = pandas_profiling.ProfileReport(df)

# save the report to an HTML file
profile.to_file('Chicago_Profiling.html')

/var/folders/9k/gy9wtmnd0yx7h2sp3rk46pz00000gn/T/ipykernel_30229/1863774464.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/nirmitipatil/opt/anaconda3/lib/python3.9/site-packages/pandas_profiling/model/pandas/describe_numeric_pandas.py:122: RuntimeWarning: overflow encountered in long_scalars
  stats["range"] = stats["max"] - stats["min"]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]